@import '../styles/theme';

*{
  font-family: "Tahoma", sans-serif;;
}

body{
  color: $primaryColor;
  //background-image: linear-gradient($backgroundColor, $canvas);
  background-color: $backgroundColor;
  height: 100vh;
  width: 100vw;
}

$bird-wing-animation: cubic-bezier(0.96, 0.46, 0.57, 0.88);
$bird-wing-animation-duration: 200ms;
$bird-wing-animation-timing: infinite;

@keyframes logo-bird-animation {
  0% {
    transform: rotate(0);
    transform-origin: -200% 300%;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: -200% 300%;
  }

}

@keyframes logo-bird-wing-animation {
  0% {
    transform-origin: 0 39px;
  }
  50% {
    transform: rotateX(180deg) translateX(2px);
    transform-origin: 0 39px;
  }
  100% {
    transform-origin: 0 39px;
  }
}
@keyframes logo-bird-body-animation {
  0% {
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
  }
}

.logo {
  margin: 0 auto;
  position: relative;
  &__text {
  };
  &__bird {
    position: absolute;
    width: 30px;
    top: -25px;
    left: 72px;
    //animation: logo-bird-animation ease-in-out 2s 1s;
    &--wing {
      //fill: #ffffff;
      position: absolute;
      animation: logo-bird-wing-animation $bird-wing-animation $bird-wing-animation-duration $bird-wing-animation-timing;
    }
    &--body {
      //fill: #ffffff;
      position: absolute;
      animation: logo-bird-body-animation $bird-wing-animation $bird-wing-animation-duration $bird-wing-animation-timing;
    }
  };
}


.main-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
